In [1]:
import pandas as pd
pdata = pd.read_csv(r'C:\Users\angel\Desktop\MLcsvFiles\Pokepandas\pokemon_data.csv')
pdata

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [2]:
pdata.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [3]:
print(pdata[['Name', 'Speed']][4:9]) #Grabbing only 5 rows

                        Name  Speed
4                 Charmander     65
5                 Charmeleon     80
6                  Charizard    100
7  CharizardMega Charizard X    100
8  CharizardMega Charizard Y    100

In [4]:
print(pdata[['Name', 'Generation', 'HP']])  # read each column of those types

                      Name  Generation  HP
0                Bulbasaur           1  45
1                  Ivysaur           1  60
2                 Venusaur           1  80
3    VenusaurMega Venusaur           1  80
4               Charmander           1  39
..                     ...         ...  ..
795                Diancie           6  50
796    DiancieMega Diancie           6  50
797    HoopaHoopa Confined           6  80
798     HoopaHoopa Unbound           6  80
799              Volcanion           6  80

[800 rows x 3 columns]

In [5]:
print(pdata.iloc[1:4]) #grabs the rows in the dataframe

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [6]:
pdata.loc[pdata['Legendary'] == True] #Grab certain types !!!

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
pdata.sort_values("Name", ascending =False) #data organization

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [8]:
pdata.sort_values(['Name', 'HP'], ascending = [1,0]) # [acend, decend]
# more specific data organization

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [9]:
pdata['Total'] = pdata['Sp. Atk'] + pdata['Attack']
# will not remove column if commented out
pdata.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,182
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,222

In [10]:
pdata = pdata.drop(columns = ['Total']) # set data frame equal to changes
# Alternative way to do this
# pdata['Total'] = df.iloc[:, 4:10].sum(axis=1) #axis = 0 is adding vertically
pdata

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [11]:
pdata.iloc[1:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [12]:
pdata['sum'] = pdata['Attack'] + pdata['Defense'] + pdata['HP'] + pdata['Sp. Atk'] + pdata['Sp. Def'] + pdata['Speed']
pdata

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,sum
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [13]:
pdata.loc[pdata['Name'] == 'Lucario']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,sum
497,448,Lucario,Fighting,Steel,70,110,70,115,70,90,4,False,525

In [14]:
pdata.loc[pdata['sum'] >= 650]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,sum
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True,680
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
269,249,Lugia,Psychic,Flying,106,90,130,90,154,110,2,True,680
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
313,289,Slaking,Normal,NaN,150,160,100,95,65,100,3,False,670
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
421,382,Kyogre,Water,NaN,100,100,90,150,140,90,3,True,670
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
423,383,Groudon,Ground,NaN,100,150,140,100,90,90,3,True,670
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
425,384,Rayquaza,Dragon,Flying,105,150,90,150,90,95,3,True,680
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
540,483,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True,680
541,484,Palkia,Water,Dragon,90,120,100,150,120,100,4,True,680
543,486,Regigigas,Normal,NaN,110,160,110,80,110,100,4,True,670
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True,680
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True,680
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,720
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True,680
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True,680
710,646,Kyurem,Dragon,Ice,125,130,90,130,90,95,5,True,660
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,700
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,700
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,680
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680

In [15]:
#SAVING THE DATA
#df.to_csv('modified.txt', index=False, sep='\t')

#Filtering Data (DO NOT RUN WILL ACTUALLY MODIFY)
"""
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

new_df.to_csv('filtered.csv')
"""

"\nnew_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]\n\nnew_df.reset_index(drop=True, inplace=True)\n\nnew_df\n\nnew_df.to_csv('filtered.csv')\n"

In [16]:
pdata = pdata.drop(columns = ["#"])
pdata.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,sum
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [19]:
import numpy as np
def split_train_test(data, test_ratio):
    shuffled_indicies = np.random.permutation(len(data))
    test_set_size =int(len(data)*test_ratio)
    test_indicies = shuffled_indicies[:test_set_size]
    train_indicies = shuffled_indicies[test_set_size:]
    return data. iloc[train_indicies], data.iloc[test_indicies]

In [21]:
train_set, test_set = split_train_test(pdata, 0.2) #20% is the test_set
print(len(pdata))
print(len(train_set))
print(len(test_set))

800
640
160

In [22]:
#We can basically do the above with sklearn with seed feature
from sklearn.model_selection import train_test_split
set_train, set_test = train_test_split(pdata, test_size =0.2, random_state =42)
print(len(set_train))
print(len(set_test))

640
160